@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?zee8bu');
	src:url('fonts/icomoon.eot?#iefixzee8bu') format('embedded-opentype'),
		url('fonts/icomoon.woff?zee8bu') format('woff'),
		url('fonts/icomoon.ttf?zee8bu') format('truetype'),
		url('fonts/icomoon.svg?zee8bu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
	content: "\e600";
}
.icon-earth:before {
	content: "\e601";
}
.icon-warning:before {
	content: "\e602";
}
