$bg: white;
$fg: black;

/* Navigation Buttons [Blue] */
$nav: #e4eff8;
$navH: #b6d0ea;
$navB: #9dbfdf;
$navD: #234472;
/* Action Buttons [Orange] */
$act: #f89922;
$actH: #fcb236;
$actB: #ec740e;
$actD: #b93a02;
/* Layout */
$lay: #f3f3f3;
$layH: #dbdbdb;
$layB: #cccccc;
$layD: #575757;
/* Box [Dark] */
$box: #666666;
$boxH: #848484;
$boxB: #515151;
$boxD: #343434;